body {
    font-size: 1.2rem;
}

.container{
    font-size: 1.5rem;
    color: teal;
}

h1 {
    font-size: 3rem;
}

section {
    font-size: 12px;
}

p:nth-child(2n+1) {
    font-size: 1.5rem;
    color: magenta;
}

p:nth-child(2n) {
    font-size: 1.5em;
    color: teal;
}